body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #C1D3E6;
}
form {
    width: 100%;
    text-align: center;
    padding: 10%;
}
fieldset {
    width: 80%;
    text-align: center;
    text-transform: uppercase;
    margin: 2em;
    background-color: #D7EBFF;
    border: 0px;
    border-radius: 25px;
    color: white;
}
label, div {
    text-transform: none;
    display: block;
    padding: 0.2em;
    color: black;
}
input, textarea {
    width: 250px;
    height: 20px;
    border: 1px solid black;
    margin-bottom: 1em;
    border-radius: 10px;
    text-align: center;
}
#visa, #mastercard {
    width: auto;
}
.cardtype {
    display: inline;
}
.button {
    background-color: #363B40;
    color: white;
    width: 130px;
    height: 60px;
    border-radius: 50px;
    font-size: 25px;
    text-transform: uppercase;
}
legend {
    background-color: #363B40;
    padding: 1em;
    border-radius: 25px;
    width: 60%;
}
